.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  background-color: #f9f9f9; 
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.login-btn,
.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.switch-btn {
  margin-top: 10px;
  background-color: #1e40af;
  color: white;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.switch-text {
  color: #6366f1;
  cursor: pointer;
  margin-top: 10px;
}