body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
}
.logo span {
    color: orange;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    display: block; 
    margin-bottom: 10px;
}
.nav ul li a {
    text-decoration: none;
    color: white; 
    font-size: 1rem;
    transition: color 0.3s ease; 
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.nav ul li a.btn {
    display: inline-block; 
    padding: 10px 20px; 
    color: white; 
    font-size: 1rem; 
    text-decoration: none; 
    border: 2px solid white; 
    border-radius: 20px; 
    transition: all 0.3s ease; 
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: auto;
    padding: 1rem 0;
}
.content {
    text-align: center;
    padding: 50px 20px;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url(img/hero.png);
    background-size: cover;
    color: white;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.about {
    text-align: center;
    padding: 50px 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.products h4{
    display: flex;
    flex-direction: column; /* Chuyển sang cột dọc */
    align-items: center;
    gap: 30px; /* Khoảng cách giữa các mục */
    padding: 20px;
}

.products div {
    text-align: center;
}

.products img {
    max-width: 100%;
    border-radius: 10px;
}
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}
.product-image img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.product-info h3 {
    color: #017f59;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.product-info p {
    color: #555;
    font-size: 1em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}